.home-container {
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
}

@media (max-width: 500px) {
  .main-body {
    flex-direction: column;
    padding: 0px 0px !important;
    margin-top: 2px !important;
  }
}
