.home-container {
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
}

.cart-container {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0px;
  right: 0px;
  width: 100vw;
  background-color: #00000041;
  min-height: 100vh;
  z-index: 99;
  box-shadow: 1px 2px 4px 2px rgb(211, 211, 211);
}
.cart-container-inner {
  background-color: rgb(245, 245, 245);
  width: 450px;
}

@media (max-width: 600px) {
  .main-body {
    flex-direction: column;
    padding: 0px 0px !important;
    margin-top: 2px !important;
  }
}
