.navbar-container {
  background-color: rgb(255, 255, 255);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
}

.navbar-category {
  color: rgb(160, 160, 160);
}

.navbar-category p:nth-child(2) {
  margin: 0px 15px;
}

.user-name:hover {
  color: #ff9900;
}

@media (max-width: 900px) {
  .navbar-category {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .navbar-category {
    display: none !important;
  }
  .logo {
    font-size: 1.2rem !important;
  }
  .user-name {
    font-size: 0.8rem !important;
  }
  .navbar-container > div {
    padding: 0px 10px !important;
  }
}
