.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  background-color: #ffffff;
}

.item-card {
  height: 300px;
  box-shadow: 1px 2px 4px 0px rgb(211, 211, 211);
}

.item-card-image-container {
  height: 60%;
}
.add-cart-btn:hover {
  width: 25px;
}

@media (max-width: 600px) {
  .cart-items-container {
    width: 100% !important;
  }
  .items-container {
    margin-top: 1rem !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .item-card .title {
    font-size: 0.7rem !important;
  }
  .item-card .price {
    font-size: 0.9rem !important;
  }
}
